.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.git
.gitignore
.env
.env.*
dashboard_observabilidad_camanchaca.png
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
README.md
LICENSE
.vscode
.idea
.cursorignore
*.md
*.html
*.ipynb
.devcontainer/
tests/
*.so
*.dll
*.dylib
